.content{
  h2 {
    font-size: 26px;
    color: black;
    font-family: 'Raleway', sans-serif;
  }
  #chart1 {
    width: 65%;
    height: 400px;
    display: inline-block;
  }
  #chart2 {
    width: 33%;
    height: 400px;
    display: inline-block;
  }

  .country-list{
    width: 24.5%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
  } h3 {
    font-size: 22px;
    color: black;
    font-family: 'Raleway', sans-serif;
  } ul li {
    list-style: none;
  } a {
    text-decoration: none;
    color: rgba(83, 83, 83, 1.0);
    font-family: 'Raleway', sans-serif;
  } .prenegotiation:hover{
    background-color: rgba(166, 206, 227, 0.6);
  } .negotiation:hover {
    background-color: rgba(31, 120, 180, 0.6);
  } .preparation:hover {
    background-color: rgba(178, 223, 138, 0.6)
  } .implementation:hover {
    background-color: rgba(51, 160, 44, 0.6);
  }
}

.overlay:hover {
  cursor: pointer;
  stroke: rgba(83, 83, 83, 1.0);
  stroke-width: 1;
  opacity: 0.5;
  fill: "#F9F38C";
  fill-rule: "nonzero";
}

.button-container {
  width: 100%;
  text-align: center;
  .button-group {
    margin: 0 auto;
  } button {
    font-family: 'Raleway', sans-serif;
    border: 1px solid rgba(83, 83, 83, 1.0);
    &.active {
      border: 1px solid #535353;

    }
  }
  .active {
    border: 1px solid #535353;
  }
} 