<nav>
  <a href="/">
    <div class="nav-title">
        <h1>IMM data visualisation</h1>
        <h2>Forest Law Enforcement, Governance and Trade</h2>
      </div>
  </a>
  <div class="nav-bar">
    <div class="project-author">
      <p>Created by <span><a href="http://iandenty.tumblr.com/">Ian Denty</a></span></p>
    </div>
    <div class="nav-buttons">
      <ul>
        <li><a href="/commodity">By commodity</a></li>
        <li><a href="/countries">By country</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>