<div class="content">
  <h3><%= locals[:country_name]%></h3>
  <div id="chart1" class="chart" data-id="<%= locals[:country_name]%>"></div>
  <div id="chart2" data-id="<%= locals[:country_name]%>"></div>
</div>