---
title: ProjectIMM
---



<div class="content">
  <p>VPAs are a key element of the EU’s Forest Law Enforcement Governance and Trade (FLEGT) Action Plan which defines the EU’s policy to promote legal logging and trade in legally licensed timber. Once agreed, the VPAs include commitments and action from both parties to develop a Legality Assurance System (LAS) which licenses timber and timber products for export to the EU.</p>
  <p>IMM responds to requests for independent timber market monitoring from VPA partner countries and commitments to impact assessment made in the agreements.</p>
</div>