---
title: ProjectIMM
---



<div class="content">
  <p>The data used in this application is based on the preliminary <a href="http://www.itto.int/imm/"><cite>EU imports from VPA partner countries (version 1.1)</cite></a> dataset undertaken by the IMM (Independent Market Monitor). The IMM is a response to requests for independent timber market monitoring from VPA partner countries and commitments to impact assessment made in the agreements.</p>
  <p>This website is a personal project and in no way affliated to the IMM.</p>
</div>