---
title: ProjectIMM
---

<style id="vpa-css" type="cartocss/text">
  /** category visualization */

  #country_iso_only_1 {
     polygon-opacity: 0.7;
     line-color: #FFF;
     line-width: 1;
     line-opacity: 1;
  }

  #country_iso_only_1[vpa_status="Pre-negotiations"] {
     polygon-fill: #A6CEE3;
  }
  #country_iso_only_1[vpa_status="Negotiation"] {
     polygon-fill: #1F78B4;
  }
  #country_iso_only_1[vpa_status="Implementation"] {
     polygon-fill: #33a02c;
  }
  #country_iso_only_1[vpa_status="Preparation"] {
     polygon-fill: #b2df8a;
  }
</style>

<div class="content">
  <div class="commodity map">
    <div id="map"></div>
    <div class="options-container">

      <div class="button-container">
        <div class="btn-group">
          <button type="button" class="btn btn-default" data-id="quantity">Quantity</button>
          <button type="button" class="btn btn-default" data-id="value">Value</button>
        </div>
      </div>

      <div class="options">
        <form id="commodity-form">

          <fieldset>
            <legend>Flegt status:</legend>
            <ul>
              <li>
                <input type="checkbox" name="vpa-status" id="pre-negotiations" value="pre-negotiations" />
                <label for="furnture">Pre-negotiations</label>
              </li>
              <li>
                <input type="checkbox" name="vpa-status" id="negotiation" value="negotiation"/>
                <label for="negotiation">Negotiation</label>

              </li>
              <li>
                <input type="checkbox" name="vpa-status" id="preparation" value="preparation"/>
                <label for="preparation">Preparation</label>
              </li>
              <li>
                <input type="checkbox" name="vpa-status" id="implementation" value="implementation"/>
                <label for="implementation">Implementation</label>
              </li>
            </ul>
          </fieldset>


          <fieldset>
            <legend>Commodity:</legend>
            <ul>
              <li>
                <input type="radio" name="commodity" id="furniture" value="furniture" />
                <label for="furniture">Furniture</label>
              </li>
              <li>
                <input type="radio" name="commodity" id="paper" value="paper"/>
                <label for="paper">Paper</label>

              </li>
              <li>
                <input type="radio" name="commodity" id="pulp" value="pulp"/>
                <label for="pulp">Pulp</label>
              </li>
              <li>
                <input type="radio" name="commodity" id="wood" value="wood"/>
                <label for="wood">Wood</label>
              </li>
            </ul>
          </fieldset>


          <fieldset>
            <div class="year-slider">
              <label for="year">Year:</label>
              <output for="year" id="output-year">2004</output>
              <input name="year" type="range" min="2004" max="2013" value="2004" id="year" step="1">
            </div>
          </fieldset>


          <button type="submit" id="map-update" class="btn-block" type="button">Update map</button>

        </form>
      </div>

    </div>
  </div>
</div>
