---
title: ProjectIMM
---


<div class="content">
	<div class="app-text">
		<ul>
			<li data-id="search"><i class="fa fa-search"></i></li>
			<li data-id="globe"><i class="fa fa-globe"></i></li>
			<li data-id="chart"><i class="fa fa-area-chart"></i></li>
		</ul>
	</div>

	<div class="main map home">
		<div id="map"></div>
	</div>

	<div class="app-description">
		<p class="search hide"><strong>Explore </strong>Voluntary Partnership Agreements (VPA) partner countries</p>
		<p class="globe hide"><strong>Map </strong>forests and trade of forest products</p>
		<p class="chart hide"><strong>Analyse </strong>trade flows of timber and timber products</p>
	</div>


</div>
